<div class="item card border-secondary my-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button *ngIf="!item.current" class="add-remove-current btn btn-secondary" title="Add to current"
                (click)="changeCurrentState()">
                <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="item.current" class="add-remove-current btn btn-outline-danger" type="button"
                (click)="changeCurrentState()">
                <i class="fa fa-times"></i>
            </button>
            <div>
                <h3 class="h4 mb-0">
                    {{item.name}}
                </h3>
                <div class="text-muted font-weight-light">
                    Last: 2021 april 1
                    <i class="fa fa-info-circle text-info order-info-icon" *ngIf="!inCurrentList"
                        title="More info about orders" (click)="displayModal()"></i>
                </div>
            </div>
        </div>
        <ng-container *ngIf="inCurrentList">
            <div class="input-group w-auto">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity()">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                </div>
                <input type="text" class="form-control" class="quantity" readonly [(ngModel)]='quantity'>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity()">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </ng-container>
        <button *ngIf="!inCurrentList" class="btn btn-light" title="Edit Item">
            <i class="fa fa-pencil text-secondary"></i>
        </button>
    </div>
</div>