input.quantity {
    font-size: 1.7rem;
    line-height: 0.2rem;
    max-width: 45px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.order-info-icon {
    cursor: pointer;
}

.add-to-current {
    margin-right: 10px;
}