<div class="item card border-secondary my-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h3 class="h5 mb-0">
                Item Name
            </h3>
            <div class="text-muted font-weight-light">
                <ng-container *ngIf="inCurrentList">
                    3 qty |
                </ng-container>
                Last: 2021 april 1
            </div>
        </div>
        <i class="fa fa-pencil text-secondary"></i>
    </div>
</div>