<div class="row">
    <div class="col-12 col-sm">
        <vdsl-item-list [items]="items" [currentItems]="true" (openHistoryModalEvent)="openHistoryModalEvent($event)">
        </vdsl-item-list>
    </div>
    <div class="col-12 col-sm">
        <vdsl-item-list [items]="items" [currentItems]="false" (openHistoryModalEvent)="openHistoryModalEvent($event)">
        </vdsl-item-list>
    </div>
</div>

<ng-template #itemModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            {{ itemInModal.name }} <br />
            <div class="text-muted font-weight-light h5">Last orders</div>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeHistoryModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="list-group order-list" *ngIf="itemInModal.history && itemInModal.history.length > 0">
            <div class="list-group-item d-flex py-3 px-3 order" *ngFor="let order of itemInModal.history">
                <div class="date mr-3">
                    <div class="year">{{ order.date.getFullYear() }}</div>
                    <div class="month-day">
                        {{ (order.date.getMonth()+1).toString().padStart(2, '0') + '.' +
                        order.date.getDate().toString().padStart(2, '0') }}
                    </div>
                </div>
                <div class="quantity-and-link">
                    <div>Quantity: <strong>{{ order.quantity }}</strong></div>
                    <a [href]="order.link" target="_blank">
                        {{order.link}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>