<div class="row">
    <div class="col-12 col-sm">
        <vdsl-item-list [items]="items" [currentItems]="true" (openModalEvent)="openModal($event)"></vdsl-item-list>
    </div>
    <div class="col-12 col-sm">
        <vdsl-item-list [items]="items" [currentItems]="false" (openModalEvent)="openModal($event)"></vdsl-item-list>
    </div>
</div>

<ng-template #itemModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            {{ itemInModal.name }}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>